.slider-container {
	display: flex;
	flex-direction: column;
}

.slider-input-container {
	display: flex;
}

.slider-input {
	padding: 10px;
}

.slider-min-label, .slider-max-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
}